* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url(image/Halle-removebg.png);
    background-position: center;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(41, 41, 41);
}
.logo {
    width: 240px;
}
nav ul {
    display: flex; 
    flex-direction: row; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
nav li {
    margin: 0 15px; 
}
nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg,#df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
.content{
    margin-top: 10px;
    max-width: 600px;
}
.content h1{
    font-size: 70px;
    color: rgb(45, 45, 45);
}
.content p{
    margin: 10px;
    color: #c10000;
}
.content .btn{
    padding: 15px 80px;
    font-size: 16px; 
}
.btn :hover{
    border-top-right-radius: 30px;
}
.feature-img{
    width: 360px;
    position: absolute;
    bottom: 0;
    right: 10%;
}