* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url(image/Halle-removebg.png);
    background-position: center;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(41, 41, 41);
}
.logo {
    width: 240px;
}
nav ul {
    display: flex; 
    flex-direction: row; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
nav li {
    margin: 0 15px; 
}
nav ul li :hover{
    background-color: #393232;
    border-radius: 8px;
    padding: 10px 20px;
    color: #fff;
}
nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg,#323232, #6b6a6a);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
.content{
    margin-top: 10px;
    max-width: 600px;
}
.content h1{
    font-size: 70px;
    color: rgb(45, 45, 45);

}
.content p{
    margin: 10px;
    color: #8a0101;
    font-size: 20px;
    animation-delay: 0.5s;
}
.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s; 
}
.btn :hover{
    border-top-right-radius: 30px;
}
.feature-img{
    width: 360px;
    position: absolute;
    bottom: 0;
    right: 10%;
}
.feature-img.anim{
   animation-delay:1.5s;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}